* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'IBM Plex Sans', sans-serif;
    /*overflow-x: hidden;*/

}
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/*------------------------NAVBAR----------------------------*/
.nav-container{
    width:100%;
    height: 70px;
    background-color: #FFFFFF ;  /*go with white or this EEEAEA*/
    border-bottom: solid 2px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar{
    display:grid;
    grid-template-columns: 0.14fr 0.11fr auto 1fr;
    width:100%;
    height:100%;
    background-color:#EEEAEA ;
    opacity:1;
    align-items:center;
}

#navbar-name{
    font-size:21px;
    justify-self:left;
    /*padding-top: 8%;*/
}

.nav-menu{
    display:grid;
    grid-template-columns: 9% 10% 13% 10% 15% 7% 7% 6% 21%;
    width:100%;
    align-items:center;
    list-style: none;
    overflow-x:visible;
}
.nav-links{
    text-decoration: none;
    color:#000000; /*Specify Exact Colour*/
    font-size: 21px;
    font-weight: 600;
}
.logo
{
    /*justify-self: right;*/
   padding-left: 70%;;

}
.home{
    color:#000000;
    opacity:0.5;
}
.home:hover{
    color:#000000;
    opacity:1;
    background-color: #1FD9D3;
    padding: 4px 6px;
}
.nav-links-btn{
    background-color: #1FD9D3;
    padding: 7px 11px;
    border-radius: 30px;
}
.a{
    color: #000000;
    opacity:0.5;
}
.a:hover{
    color:#000000;
    opacity:1;
    background-color: #1FD9D3;
    padding: 4px 6px;
}
.b{
    padding-left: 7px;
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

/*responsive*/
@media screen and (max-width: 1100px){
    .nav-container{
        position: relative;     
    }
    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        background:#EEEAEA;
        margin:0;
        width:40%;
        position:absolute;
        top:70px;
        right:-100%;
        opacity:0;
        transition:all 0.5 ease;
        text-align: center;
    }

    #navbar-name{
        margin-left: 30px;
    }
    .nav-menu.active{
        background: rgb(192,192,192,0.1); /*color of drop down*/
        
        left:60%;
        opacity: 1;
        transition: all 0.8 ease;
    }

    .nav-links{
        text-align:center;
        font-size: 16.5px;
        line-height: 40px;
        width:100%;
        display:table
    }

    .nav-links:hover{
        background-color: #1FD9D3;
        transition: all 0.4 ease-out;
    }
    .navbar{
        width:100%;
    }
    .nav-links-btn{
        padding:0;
        border-radius: 0;
        background-color: #1FD9D3;
    }
    /*Which one looks nice with this or without this*/
    

    #mobile-menu{
        position: absolute;
        top:20%;
        right:5%;
        /*background-color: black;
        opacity: 0.5;*/
        
        transform: translate(15%,20%);
    }

    .menu-toggle .bar{
        display: block;
        cursor:pointer;
    }

    .menu-toggle:hover{
        cursor:pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2)
    {
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1)
    {
        transform: translatey(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3)
    {
        transform: translatey(-8px) rotate(-45deg);
    }


}

/*------------------------Home-Front----------------------------*/
.homefront{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    z-index: -1;
    overflow: hidden;
}
.left-icon{
    background: white;
    height: 100%;
    width: 50%;
}
.right-icon{
    background: white;
    height: 100%;
    width: 50%;
}


/*------------------------About-us----------------------------*/
.About-us{
    width: 100%;
    height: 550px;
    display: flex;
    background-color: #1FD9D3;
    opacity: 0.6;
    border: 3px solid black;;
    overflow: hidden
}
.About-left{
    height: 100%;
    width: 35%;
    border: 3px solid black;
}

.About-right{
    height: 100%;
    width: 65%;
    border:  3px solid black;
}

/*------------------------Portfolio----------------------------*/

.portfolio-container{
    width: 100%;
    height: 780px;
    display: flex;
    background-color: white;
    border: 3px solid black
    overflow: hidden;
}

.portfolio-card{
    margin-left: 14%;
    margin-right: 14%;
    width: 72%;
    height: 100%;
    border: 3px solid black;
}
.prow{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.portfolio-heading{
    padding-top: 23px;
    /*justify-content: space-around;*/
}

.portfolio-heading h3{
    font-family: 'IBM Plex Sans';
    font-size: 49px;
    font-weight: 600;
    text-transform: capitalize;
    color:#000000 ;
    padding-bottom: 10px;
}

.portfolio-info{
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
}
.portfolio-info p{
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
}

.project-cards{
    padding: 10px;
    overflow: auto;

}
.pcard{
    background: #000000;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 250px;
    line-height: 50px;
    margin: 30px;
    min-width: 0px;
}

@media(max-width: 1550px)
{
    .portfolio-card{
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }
}
@media(max-width: 1100px)
{
    .portfolio-container{
        height: 1100px;
    }
    .pcard{
        margin: 20px;
    }
}
@media(max-width:  720px)
{
    .portfolio-container{
        height: 800px;
    }
    .pcard{
        width: 200px;
        height: 150px;
    }
}
@media(max-width:  511px)
{
    .portfolio-container{
        height: 700px;
    }
    .pcard{
        width: 190px;
        height: 150px;
        margin: 7px;
    }
    .portfolio-heading h3{
        padding-bottom: 3px;
    }
    .portfolio-info p{
        font-size: 13px;
    }
}
@media(max-width:  450px)
{
    .portfolio-info p{
        font-size: 12px;
    }
    .pcard{
        width: 140px;
        height: 150px;
        margin: 4px;
    }
}
/*------------------------Footer----------------------------*/

.footer{
    background-color: #24262b;
    padding: 40px 0px ;
    padding-bottom: 100px;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.row1 h4{
    font-family: 'IBM Plex Sans';
    font-size: 39px;
    font-weight: 600;
    text-transform: capitalize;
    color:#1FD9D3 ;
    padding-bottom: 30px;
}
ul{
    list-style: none;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col .fot1{
    margin-right: 300px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

